<div class="container-fluid p-0">
	<section class="col-12 pt-4 p-0 m-0" id="slider-holder">

		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img class="d-block w-100" src="assets/slider1.jpg" alt="First slide">
		    </div>
		    <div class="carousel-item">
		      <img class="d-block w-100" src="assets/slider2.jpg" alt="Second slide">
		    </div>
		    <div class="carousel-item">
		      <img class="d-block w-100" src="assets/slider3.jpg" alt="Third slide">
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>

		<div class="jumbotron">
			<h1>Incluvent</h1>
			<p>Incluvent es una plataforma que permite ayudar a personas con discapacidades a encontrar un empleo así como a favorecer y concientizar a la sociedad y sector laboral sobre la inclusión social</p>
			<input type="button" class="mx-3 btn btn btn- btn-primary" value="Buscar Empleo">
			<input type="button" class="mx-3 btn btn-secondary" value="Subir Curriculum">
		</div>
	</section>

	<app-jobs-container></app-jobs-container>
	
</div>