<div class="container-fluid">
	
	<div class="col-sm-12">

		<div class="col-12 mt-4">
			<div class="jumbotron">
				<h2>Empleos Disponibles</h2>
				Encontrarás todo un listado de los empleos disponibles para personas con dificultades y discapacidades.
				<div class="input-group">
					<button type="button" class="btn btn-primary btn-lg m-2">Buscar Empleo.</button>
					<button type="button" class="btn btn-secondary btn-lg m-2">Agregar un Nuevo Empleo.</button>
				</div>
			</div>
		</div>
		
		<app-jobs-container></app-jobs-container>


	</div>


</div>